{% extends 'base.html' %}
{% load static %}
{% block sub_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        {% if python_code_result is not None %}
        <div class="col-6" id="python_code">
            {% for element in python_code_result %}
                <span id="python_{{ element.id }}" class="col-6 mt-1 rounded-3 python_{{ element.id }} {{ element.class }} block_of_python_code">
                    {{ element.text }}
                </span><br>
            {% endfor %}
        </div>
        <div class="col-6 text-center" id="scratch_code">
            {% for element in scratch_code_result %}
                <div id="scratch_{{ element.id }}" style="height:100px; background-color:{{ element.background }}" class="col-6 mt-1 rounded-3 scratch_{{ element.id }} {{ element.class }} block_of_scratch_code">
                    {{ element.text }}
                </div>
            {% endfor %}
        </div>
        {% else %}
             <div class="row justify-content-center mx-auto mt-5">
                    <div class="col-8">
                        <form action="/LoadScratchProject/" method="post" class="col-7 mx-auto input-group mt-1 rounded" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Załaduj Projekt Scratcha" class="btn btn-outline-primary col-4 ml-2 rounded"/>
                        </form>
                    </div>
                </div>
        {% endif %}
    </div>
    <div class="row justify-content-center mx-auto mt-5" id="animation">
        <div class="col-8 mx-auto text-center">


        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/compare_hover_file.js' %}" type="text/javascript"></script>
<script type="text/javascript">
     $(document).ready(function(){
            $('#start_animation').click(function(event){
                alert('click');
            });
     });
</script>
{% endblock %}